* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    background-color: #f4f4f4f4;
}

.container {
    display: block;
    margin: 20px auto;
    max-width: 960px;
}


/* home section styles */

.moto-home {
    position: relative;
    background: url('../img/home.jpg') no-repeat center center/cover;
    height: 100vh;
    object-fit: cover;
}

.contents {
    background-color: #000000;
    height: 100vh;
    overflow: auto;
    opacity: 0.7;
    position: relative;
    overflow-y: hidden;
}

#logo-content {
    font-family: 'Metal Mania', cursive;
    font-size: 1.0rem;
}

.head-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: hidden;
}

div nav ul {
    list-style: none;
    color: rgb(163, 148, 148);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
}

li {
    color: inherit;
    text-decoration: none;
    padding: 15px 20px;
}

nav li a {
    color: inherit;
    text-decoration: none;
}

nav ul li:hover {
    border-bottom: green 5px solid;
    color: #ffffff;
    border-radius: 5px;
}

.wel-section,
h2,
p {
    text-align: center;
    padding: 10px;
}

.wel-section p {
    color: #ffffff;
    font-weight: bold;
}

.wel-section {
    margin: 35% 0;
}

.wel-section #btn {
    display: inline-block;
    width: 25%;
    border: 1px green solid;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    z-index: 10;
}

.wel-section #btn:hover {
    background-color: #333;
    opacity: 0.7;
}


/* WORK SECTION */

.blog-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#jobs-case,
#Drivers,
#Paterners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.work-props {
    border: none;
    height: 250px;
    padding: 5px 0;
    overflow-y: hidden;
    margin-bottom: 5px;
}

.blog-section h2 {
    color: #333;
}


/* HISTORY STYLES */

.bussi-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bussi-img img {
    width: 100%;
    object-fit: cover;
}

.marg {
    display: block;
    max-width: 960px;
    margin: auto;
}

.bussi-hist {
    padding: 10px;
}

#image {
    height: 50vh;
    margin: 0 10px;
}


/* SHOWCASE STYLES */

.case-show img {
    width: 200px;
    padding: 10px;
    transition: 1s;
    cursor: pointer;
}

.cases img:hover {
    opacity: 0.5;
}

.case-show {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.showcase p {
    text-align: center;
    padding: 20px;
}


/* contact us styles */

.contact-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-bg {
    width: 100%;
    padding: 30px;
    height: 45vh;
}

.contact-bg {
    text-align: center;
    padding: 70px 0;
}

.cont-icon {
    color: #000000;
}

.contact-form {
    width: 100%;
    padding: 20px;
}

.row label {
    display: block;
    padding: 5px;
    color: green;
}

.span-2 {
    width: 100%;
    border: green 2px solid;
    padding: 5px;
}

.span-2:focus {
    outline-color: green;
    outline: hidden;
}

#btn-form {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#btn-form:hover {
    opacity: 0.9;
    background-color: green;
    color: #ffffff;
}


/* blog page styles */

#btn-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.blog-img {
    border-radius: 50%;
}

#chat-blog {
    width: 100px;
    height: 50px;
    border-radius: 50%;
}

.chat-blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    margin-left: 5px;
    margin: 0 5px;
}

#easlis-blog {
    width: 100px;
    border-radius: 50%;
}

.employee-blog {
    background-image: url('../img/chatpic.PNG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.footer-part footer {
    text-align: center;
}

.footer-part {
    background-color: #000000;
    color: #ffffff;
    height: 20vh;
    padding: 65px 0;
    overflow-y: hidden;
}


/* ABOUT PAGE STYLES */

#company-apart {
    width: 100%;
}

.img-partners ul li {
    list-style: none;
}

.img-partners ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-partners ul li img {
    width: 50px;
}

.partners {
    background-color: #ffffff;
}